---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseCard from "../components/BaseCard.astro";
import FriendCard from "../components/page/FriendCard.astro";
---

<!doctype html>
<BaseLayout PageID="friend">
  <BaseCard title="Friend">
    <h1 id="h1">Integrantes</h1>
    <hr />
    <div class="grid grid-cols-2 gap-4">
      <FriendCard
        title="Genesis Gonzales"
        desc=""
        img="https://img.freepik.com/foto-gratis/rostro-mujer-hermosa-piel-limpia-aislado-blanco_186202-4997.jpg?t=st=1715836300~exp=1715839900~hmac=0d9c17886fbc1caa4d42e51d978d6a76d690552119cd1c4babc2c6dced4e4b21&w=740"
      />
      <FriendCard
        title="Darwin Acabal"
        desc=""
        img="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fes%2Ffotos%2Fhombre-de-frente&psig=AOvVaw0eNPjqji2ja_WwR_UVHup-&ust=1715922969509000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCLDLmqq1kYYDFQAAAAAdAAAAABAQ"
      />
      <FriendCard
        title="Marcos Munrayos"
        img="https://img.freepik.com/foto-gratis/hombre-guapo-piel-brillante-posando_23-2149396129.jpg"
        desc=""
        badge=""
      />
      <FriendCard
        title="Keyli Sagaastume"
        img="https://img.freepik.com/foto-gratis/retrato-estudio-hembra_1301-2921.jpg?w=360&t=st=1715836474~exp=1715837074~hmac=643161036ddf891c0c182fe7e4cde6335663bfe028b2b230915f71d1945fb5d2"
        desc=""
        badge=""
      />
      <FriendCard
        title="David Barrera"
        img="https://modaellos.com/wp-content/uploads/2017/11/cortes-tipo-rostro-ovalado-istock.jpg"
        desc=""
        badge=""
      />
      <FriendCard
        title="Cristel Morales"
        img="https://img.freepik.com/foto-gratis/closeup-retrato-mujer-hermosa-joven-piel-salud-rostro_186202-5646.jpg?w=740&t=st=1715836532~exp=1715837132~hmac=99f8e407e980dbb307e7b6b5606199fe0bfa9c233806b42c64bbf4e2146d4bab"
        desc=""
        badge=""
      />
    </div></BaseCard
  >
</BaseLayout>
